#about {
  background: repeating-linear-gradient(
    white,
    white 1.1rem,
    var(--primary) 1.2rem
  );
  clip-path: polygon(
    0% 87%,
    19% 99%,
    38% 95%,
    47% 98%,
    70% 92%,
    83% 95%,
    100% 88%,
    100% 0%,
    0% 0%
  );
  padding: 2rem;
}

#about-content {
  padding-left: 1rem;
  border-left: var(--secondary) solid 3px;
  color: var(--dark);
  display: flex;
  align-items: center;
  width: 65vw;
  margin: 0 auto;
}

#about-content img {
  margin-left: 1.5rem;
  width: 30vw;
}

#projects {
  width: 65vw;
  margin: 2rem auto;
}

#projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

project-card {
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 25%;
  box-shadow: #bdbdbd 3px 5px 2px;
}

@media only screen and (max-width: 768px) {
  project-card {
    width: 40%;
  }
}

@media only screen and (max-width: 640px) {
  #about-content {
    flex-direction: column;
    width: 75vw;
  }

  #about-content img {
    margin-left: unset;
    width: 50vw;
  }

  project-card {
    width: 100%;
  }

  #projects {
    width: 75vw;
  }
}
