@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import "./var.css";

html {
  font-size: 19px;
  scroll-behavior: smooth;
}

body {
  font-family: "Delius", cursive;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--offwhite);
  margin: 0px;
}

h2 {
  text-decoration: underline var(--secondary) 5px;
}

main {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: var(--dark);
}

ul {
  list-style: none;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 1.5rem;
  }
}
